@font-face {
  font-family: Montserrat-Regular;
  src: url('../fonts/montserrat/Montserrat-Regular.ttf');
}
@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf');
}

$border-radius: 20px;

$font-title--bold : Monserrat-Bold;

// Media Break points
$phone:420px;

@mixin phone {
  @media (max-width: #{$phone}){
    @content;
  }
}


$tab:805px;
@mixin tab {
  @media (max-width: #{$tab}){
    @content;
  }
}

html, body {
  position: fixed;
  width: 100vw;
  height: 100vh;
  font-size: 1em;
  font-family: Montserrat-Regular;
  margin: 0;
  padding: 0;

  background-size: cover;

  @include tab {
    position: relative;
  }

  @include phone {
    position: fixed;
  }


}

*{
   margin: 0;
  padding: 0;
}


.container {
  height: 100vh;
  background-color: #141414;
  background-image: url('../images/never.jpg');
  background-size: cover;
  background-blend-mode: soft-light;
}
// Style of the scrollbar
::-webkit-scrollbar {
  display: none;
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: blue;
  border-radius: 44px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}





header {
  /* background-color: skyblue; */
}

footer, .breadcrumb,
 .content-1, .content-2,
.connected-users, .group-tpe{
  background-color: white;

}


  // Right navigation
  .MenuIcon {
    position: absolute;
    width: 6%;
    height: 6%;
    top: 7px;
    right: 0;
    margin-right: 30px;
    display: block;

    @include phone {
      width: 10%;
      top: 3.5px;
      margin-right: 10px;
    }
  }

  #MenuLine {
    position: absolute;
    left: 15%;
    top: 10px;
    width:100%;
    height: 3px;
    background-color: white;
    transition: all 0.3s;

    @include phone {
      height: 4px;
      width:95%;
    }
  }

  .MenuIcon:hover{
   cursor: pointer;
    transition: all 0.3s
  }

  #MenuLine::before {
    position: absolute;
    content: '';
    bottom: 7px;
    width: 70%;
    height: 3px;
    background-color: white;
    transition: all 0.3s ;
  }

  #MenuLine::after {
    position: absolute;
    content: '';
    top: 7px;
    width: 70%;
    height: 3px;
    background-color: white;
    transition: all 0.3s ;
  }

  .MenuIcon:hover #MenuLine{
    width: 70%;
    transition: all 0.3s
  }

  .MenuIcon:hover #MenuLine::before{
    width: 140%;
    transition: all 0.3s;
  }

  .MenuIcon:hover #MenuLine::after{
    width: 140%;
    transition: all 0.3s;
  }



// display list of tpe groups
.info-groupe{
  visibility: hidden;
  top: 20%;
  width: 50%;
  height: 60%;
  position: fixed;
  left: 50%;
  transform: translate(-50%);
  background:rgba(0,0,0,10);
  background-color: red;
  z-index: 300;
  box-shadow: 1px 4px 15px gray;


  .close-icon {
    position: absolute;
    top: 2%;
    left: 93%;
    transform: scale(2);
  }

  .close-icon:hover {
    cursor: pointer;
  }

  .ue-groupe{

  }


  @include phone {
  position: fixed;
  top: 15%;
  width: 83vw;
  height: 70vh;
  left: 30%;
  transform: translate(-25%);
  }

}

// Right navigation
.MainMenu{
  opacity: 1;
  position: fixed;
  top: 0;
  right: -300%;
  width: 30vw;
  height: 100vh;
  z-index: 100000;
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s ease-out;

  @include phone {
    width: 40%;
    grid-column: 3/ span 3;
  }


  #image-profile{
    margin-top: 80%;
    border-radius: 50%;
  }

  ul {
    margin-top: 20%;
    .item{
      list-style: none;
      margin-top: 45%;

      a {
        text-decoration: none;
        color: black;
      }

    }
    .item:hover{
      cursor: pointer;
      color: white;


    }

    .line {
      margin-top: 5px;
      position: absolute;
      left: 49%;
      width: 18vw;
      height: 2px;
      background-color: white;
      transform: translate(-50%);
      transition: all .3s;
    }

    li:hover .line {
      width: 5vw;
      transition: all .3s;
    }
  }

  #close-icon {
    margin-top: 40px;
    color: black;
    width: 40px;
    height: 40px;
  }

  #close-icon:hover {
    cursor: pointer;
  }


  }

/* Breadcrumb */

.breadcrumb{
  display: flex;
  grid-column: 1 / 10;
  grid-row: 3 / 3;
  height: 30px;
  margin-right: 60px;
  margin-left: 30px;
  padding-left: 2%;
  border-radius: $border-radius;

    a{
      color: black;
      text-decoration: none;
      align-self: center;
    }


   @include tab{
    grid-column: 1 / 13;
    margin-right: 30px;
    margin-left: 30px;
  }
    @include phone{
    grid-row: 2 / 2;
    grid-column: 1 / 13;
    margin-right: 10px;
    margin-left: 10px;
    height: 20px;
  }

}


.container {
  grid-gap: 30px;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 30px);



  @include tab {
    grid-column-gap: 10px;
  }

  @include phone {
    width: 100vw;
    height: 100vh;
    position: absolute;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
  }
}

#search{
   margin: 0 20px 0px 20px;
}



/* ********************* *\
       HEADER AREA
\* ********************* */



header {
  grid-column: 1 / span 12;
  display: flex;
  height: 40px;
  z-index: 100;
  transition: all 0.3s ease-in-out;
  justify-content: flex-end;

  .notification-icon{
    margin-left: 86%;
    z-index: 101;
    color: white;
    align-self: center;
  }

  @include phone {
    grid-column: 1 / 13;
    grid-row: 1 / 1;
    height: 30px;
  }
}




.post-wrapper {
  grid-column: 1 / 10;
  grid-row: 2/2;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-right: 60px;

  @include tab {
    grid-column: 1 / 13;
    margin-right: 30px;
  }

  @include phone {
    display: none;
  }


}

.add-post {
  margin-top: 10px;
  padding: 4px 8px 5px 5px;
  border-radius: 14px;
  background-color: skyblue;
  height: 17px;

}
.myPost {
  margin-top: 10px;
  margin-left: 13px;
  padding: 4px 8px 5px 5px;
  border-radius: 14px;
  background-color: skyblue;
  height: 17px;
}

.add-post:hover, .myPost:hover {
  cursor: pointer;
  background-color: white;
}

// Search bar
#search {
 grid-column: 10 / 13;
 grid-row: 3 / 3;
 margin: 0 30px 0 30px;
 border-radius: 15px 15px 15px 15px;
 padding-left: 10px;
 align-self: center;
 height: 30px;
 /* height: 30%; */


 @include tab {
  grid-column: 1 / 8;
  grid-row: 1 / 1;
  margin-left: 30px;
  height: 60%;
  top: 30%;
  position: absolute;
  z-index: 398398393;
 }

 @include phone{
  grid-column: 1 / 2;
  grid-row: 1 / 1;
  z-index: 398398393;
  margin: -5px 0 0 10px;
 }

}


/* Left block */

  .general-information {
    grid-row: 4 / span 3;
    grid-column: 1 / 4;
    margin-left: 30px;
    background-color: white;
    z-index: 10;
    display: flex;
    flex-direction: column;
    border-radius: $border-radius;


    .information-title{
      background-color: skyblue;
      text-align: center;
      font-family: $font-title--bold;
      font-size: 1.3em;
    }

    .informationMenu{
      margin-top: 20px;
      @include phone {
        margin-top: 0
      }
      ul {


        li{

          position: relative;
          right: 0;
          list-style: none;
          width: 100%;
          padding-top: 10px;
          border-top: 1px solid black;


          a{
            text-decoration: none;
            margin-left: 18px;
          }

          ul{
            position: absolute;
            visibility: hidden;
            left: 100%;
            opacity: 0;
            background-color: gray;
          }
        }

       li:hover > ul {
          position: absolute;
          transition: all 0.3s;
          top: 0;
          margin-top: -1px;
          left: 100%;
          visibility: visible;
          opacity: 1;
          z-index: 100000;
        }


      }

    }



  @include tab {
      grid-column: 1 / 5;
      margin-right: 0px;
    }

  @include phone {
      grid-column: 1 / 7;
      grid-row: 3 / span 3;
      margin-left: 10px;
    }

  }

  // Display connected users

  .connected-users {
    grid-row: 4 / span 3;
    grid-column: 10 / 13 ;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0 30px 0 30px;
    border-radius: $border-radius;

    .users-content-title{
      background-color: skyblue;
      text-align: center;
      font-family: $font-title--bold;
      font-size: 1.3em;
    }

    .users-content {
      margin-top: 10px;
      .item {
          display: flex;
          flex-direction: row;
          margin-left: 5%;
          margin-top: 13px;
      }

      a{
        text-decoration: none;
      }

    }

    .img-profile {
      width: 15%;
      height: 100%;
      border-radius: 50%;
    }

    .profile-name {
      position: absolute;
      margin-left: 10px;
    }

    @include phone {
      display: none;
    }

    @include tab {
      grid-column: 1 / 5;
      grid-row: 7 / span 3;
      margin-left: 30px;
      margin-right: 0px;
    }

  }

/* Groupe tpe Area */

  .group-tpe {
    grid-row: 7 / span 3;
    grid-column: 10 / 13 ;
    display: flex;
    flex-direction: column;
    margin: 0 30px 0 30px;
    border-radius: $border-radius;

    .groupe-tpe-title {
      background-color: skyblue;
      text-align:center;
      font-family: $font-title--bold;
      font-size: 1.3em;
    }

    .groupe-tpe-content {
      display: flex;
      flex-direction: column;
      margin-top: 10px;

      .tpe-item {
        margin-top: 5px;
        margin-left: 5%;

        a{
          text-decoration: none;
        }

    }
  }



 @include tab {
      grid-column: 1 / 5;
      grid-row: 10 / span 3;
      margin-left: 30px;
      margin-right: 0px;
      margin-top: 0px;

  }

    @include phone {
      grid-column: 6 / 13;
      grid-row: 3 / span 3;
      margin-right: 10px;
    }

  }



  /* Main content */

  .main-content {
    margin-right: 60px;
    grid-row: 4 / span 8;
    grid-column: 4 / 10;
    flex-direction: column;
    height: 76vh;
    overflow-y: scroll;



    .content-1{
      border-radius: $border-radius;
      position: relative;
      height: auto;
      padding:20px;
      display: flex;
      flex-direction: column;

      .post-title {
        display: flex;
        flex-direction: row;

        img{
          border-radius: 50%;
        }

        .info-post {
          margin-top: 17px;
          margin-left: 17px;
          display: flex;
          flex-direction: column;

          .post-name{

          }

          .post-date {
            font-size: 0.7em;
            opacity: 0.8;
          }
        }

        @include phone {
          padding: 5px;
        }
      }

      .post {
        margin-top: 25px;

        @include phone {
          margin-top: 10px;
        }
      }

      .comment-section {
        display: flex;
        flex-direction: row;
        margin-top: 2%;
        justify-content: flex-end;


        #comment {
          border-radius: 10px;
          width: 40%;
          height: 22px;
        }

        #submitButton {
          border-radius: 10px;
          margin-left: 4px;
          height: 27px;
        }
      }

    }


  @include tab{
    grid-column: 5 / 13;
    margin-right: 30px;
  }

    @include phone {
      grid-row: 6 / 12;
      grid-column: 1 / 13;
      margin: 0 10px 0 10px;
      height: 69vh;
    }


}


/* Profile */

.profile-information {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  .item-1,.item-2,.item-3,
  .item-4 {
    padding: 10px;
    display: flex;
    flex-direction: row;
  }

}


#personnal-form{
  padding: 15px;
  width: 100%;
  display: grid;
  grid-row-gap: 8px;
  grid-column-gap: 10px;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(5, 1fr);
  align-self: center;
  #label-nom {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }

  #nom, #label-nom, #label-date, #date{
    margin-left: 30px;
  }

  #left, #label-prenom, #prenom, #label-place, #placeOfBirth,#submitPersonnal{
    margin-right: 30px;
  }

  #nom {
    grid-column: 1 / 1;
    grid-row: 2 / 2;

  }

  #label-prenom {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }

  #prenom {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
  }

  #label-date {
    grid-column: 1 / 1;
    grid-row: 3 / 3;
  }

  #date {
    grid-column: 1 / 1;
    grid-row: 4 / 4;
  }

  #label-place {
   grid-column: 2/ 2;
    grid-row: 3 / 3;
  }

  #placeOfBirth {
   grid-column: 2 / 2;
    grid-row: 4 / 4;
  }

  #submitPersonnal {
    grid-column: 2 / 2;
    grid-row: 5 / 5;
  }
}


// Account setting

.account-information {
  margin-top: 30px;
  padding: 10px;
  display: flex;
  flex-direction: column;

  .item-1,.item-2,.item-3,
  .item-4 {
    padding: 10px;
    display: flex;
    flex-direction: row;
  }

}


#account-form{
  padding: 15px;
  width: 100%;
  display: grid;
  grid-row-gap: 8px;
  grid-column-gap: 10px;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(3, 1fr);
  align-self: center;

  #newPassword, #label-newPassword {
    margin-left: 30px;
  }

  #label-confirmPassword, #confirmPassword, #submitNewPassword{
    margin-right: 30px;
  }

  #label-newPassword {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
  }


  #newPassword {
    grid-column: 1 / 1;
    grid-row: 2 / 2;

  }

  #label-confirmPassword{
    grid-column: 2 / 2;
    grid-row: 1 / 1;
  }

  #confirmPassword {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
  }

  #submitNewPassword {
    grid-column: 2 / 2;
    grid-row: 3 / 3;
  }
}


// Chat area

.chat::before {
  content: 'x';
  position: absolute;
  background-color: black;
  border-radius: 50%;
  color: white;
  width: 20px;
  text-align: center;
  padding: 2px;
  cursor: pointer;
  right: -6%;
  top: -7.5%;
  opacity: 0.9;

}

.chat {
  visibility: hidden;
  z-index: 10000000000;
  position: fixed;
  background-color: blue;
  bottom: 2%;
  left: 30px;
  width: 280px;
  height: 300px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;


  .chat-info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 10px 0 10px 10px;
    background-color: skyblue;
    .chat--receiver--pseudo {

    }
  }

   .chat-body {
      position: relative;
      padding: 10px;
      display: flex;
      flex-direction: column;
      background-color: white;
      overflow-y: scroll;

      .chat-receiver--message, .chat-sender--message{
        border-radius: 14px;
        padding: 5px;
      }

      .chat-receiver--message{
        margin-top: 10px;
        background-color: gray;
        align-self: flex-start;
      }
       .chat-sender--message{
        margin-top: 5px;
        background-color: skyblue;
        align-self: flex-end;
       }


    }

    .chat-submit {
        margin-top: 5px;
        margin-bottom: 5px;
        margin-left: 2%;

        .chat-message {
          padding: 4px 2px 4px 7px;
          border-radius: 10px;
        }
      }

}
